---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ContainerSpreader from "../components/ContainerSpreader.astro";
import containerData from "../schemas/container-spreaders.json";

const allSpreaders = await getCollection("spreaders");
---

<BaseLayout pageTitle="Soporte">
    <main>
        <h1 transition:animate="slide" class="text-4xl text-blue-950 text-center font-semibold mt-12 md:mt-16">Spreaders y Separadores</h1>

        <section transition:animate="slide" class="wrapper text-center py-16 md:py-20 grid gap-12 md:text-left">
            <article>
                <div class="grid gap-8 md:gap-12 md:grid-cols-1 lg:grid-cols-2">
                    {
                        allSpreaders.map((spreader: any) => (
                            <ContainerSpreader 
                                name={spreader.data.name} 
                                swl={spreader.data.swl}
                                wt={spreader.data.wt}
                                image={spreader.data.image}
                            />
                        ))
                    }
                    <!-- {
                        containerData.map((containerData) => (
                            
                                <ContainerSpreader 
                                    name={containerData.name} 
                                    swl={containerData.swl}
                                    wt={containerData.wt}
                                    image={containerData.image}
                                />
                            
                        ))
                    } -->
                </div>
            </article>
        </section>
    </main>
</BaseLayout>