---
/* import { Image } from "astro:assets"; */

/* const { title, url, img } = Astro.props; */
const { title, url } = Astro.props;
---

<div>
    <div class="w-full bg-blue-800 py-1 rounded-t-xl overflow-hidden">
        <a href={url}>
            <!-- <Image
                src={img}
                alt={title}
                width={ 600 }
                height={600 / 1.5 }
                class="transition-all duration-700 hover:scale-125 w-full"
            /> -->
        </a>
    </div>

    <div class="py-14 px-16 md:py-10 md:px-12 bg-gray-200 rounded-b-xl hover:bg-blue-200 hover:text-blue-950 hover:underline">
        <a 
            href={url}
            class="text-3xl md:text-lg lg:text-2xl text-zinc-900"
        >
        
            {title}
        </a>
    </div>
</div>
